*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainpage{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
}

#firstblock{
    width: 130vh;
    height: auto;
    /* border: 2px solid black; */
    margin: 9px 0px 0px 20px;
}

#form{
    padding: 10px;
}
#form>h4{
    margin: 0px 0px 15px 0px;
}
#form>h5{
    margin: 0px 0px 15px 0px;
}

#firstrowinputs{
    width: 100%;
    display: flex;
}


#input1{
    width: 20%;
    height: auto;
    border: 2px solid rgb(190, 188, 188);
    margin: 0px 50px 0px 0px;
    border-radius: 5px;
}
#input1>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
}
#input1>select{
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

#input2{
    width: 80%;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
}
#input2>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
}
#input2>input{
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0px 5px 0px 5px;
}


#secondrowinputs{
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: flex;
}
#input3{
    width: 19%;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    margin: 0px 50px 0px 0px;
}
#input3>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
}
#input3>input{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0px 0px 0px 5px;
    cursor: pointer;
}

#input4{
    width: 19%;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    margin: 0px 50px 0px 0px;
}
#input4>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
}
#input4>input{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0px 0px 0px 5px;
    cursor: pointer;
}

#input5{
    width: 19%;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    margin: 0px 50px 0px 0px;
}
#input5>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
}
#input5>input{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0px 0px 0px 5px;
    cursor: pointer;
}

#input6{
    width: 19%;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    margin: 0px 50px 0px 0px;
}
#input6>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
}
#input6>input{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0px 0px 0px 5px;
    cursor: pointer;
}

#input7{
    width: 100%;
    margin: 20px 0px 0px 0px;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
}
#input7>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
}
#input7>input{
    border: none;
    outline: none;
    font-size: 15px;
}

#fourthrowinputs{
    width: 100%;
    display: flex;
    margin: 20px 0px 0px 0px;
}


#communication{
    margin: 30px 0px 0px 0px;
}
#input8{
    width: 20%;
    height: auto;
    border: 2px solid rgb(190, 188, 188);
    margin: 0px 50px 0px 0px;
    border-radius: 5px;
}
#input8>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
}
#input8>input{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0px 0px 5px 5px;
    cursor: pointer;
}


#input9{
    width: 80%;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
}
#input9>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 5px 5px;
}
#input9>input{
    border: none;
    outline: none;
    font-size: 15px;
}

#input10{
    width: 100%;
    margin: 20px 0px 0px 0px;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
}
#input10>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
}
#input10>input{
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0px 5px 0px 5px;
}


#sixthrowinputs{
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: flex;
}
#input11{
    width: 19%;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    margin: 0px 50px 0px 0px;
}
#input11>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
}
#input11>input{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0px 0px 5px 5px;
    cursor: pointer;
}

#input12{
    width: 19%;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    margin: 0px 50px 0px 0px;
}
#input12>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(57,136,195);
    padding: 0px 0px 0px 5px;
}
#input12>input{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0px 0px 5px 5px;
    cursor: pointer;
}

#input13{
    width: 100%;
    margin: 20px 0px 0px 0px;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
}
#title1{
    color: rgb(57,136,195);
    font-size: 13px;
    font-weight: bold;
}
#input13>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 0px 0px 0px 5px;
}
#input13>input{
    border: none;
    outline: none;
    font-size: 15px;
}


#input14{
    width: 100%;
    margin: 20px 0px 0px 0px;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
}
#title2{
    color: rgb(57,136,195);
    font-size: 13px;
    font-weight: bold;
}
#input14>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 0px 0px 0px 5px;
}
#input14>input{
    border: none;
    outline: none;
    font-size: 15px;
    margin: 5px 0px 15px 0px;
}

#input15{
    width: 100%;
    margin: 20px 0px 0px 0px;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
}
#title3{
    color: rgb(57,136,195);
    font-size: 13px;
    font-weight: bold;
}
#input15>label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 0px 0px 0px 5px;
}
#input15>input{
    border: none;
    outline: none;
    font-size: 15px;
    margin: 5px 0px 15px 0px;
}

/* For Second Block (Summary) */
#summary{
    width: 64vh;
    height: 80vh;
    /* border: 2px solid black; */
    margin: 18px 0px 0px 20px;
    border-radius: 10px;
}
#summary>h4{
    width: 100%;
    height: 50px;
    background-color: rgb(0,102,178);
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 17px 0px 0px 20px;
    font-size: 18px;
}
#Basepremium{
    margin: 25px 0px 0px 10px;
}
#Basepremium1stpart{
    margin: 0px 220px 0px 0px;
}
#Basepremium2ndpart{
    font-weight: bold;
}


#riderselection>h4{
    padding: 30px 0px 0px 10px;
}
#riderselectionparts{
    width: 98%;
    height: 40px;
    background-color: rgb(225,255,241);
    margin: 5px 0px 0px 5px;
    border: 2px dotted rgb(55,174,118);
    display: flex;
    align-items: center;
  
}
#riderselection1stpart{
    margin: 0px 180px 0px 8px;
}
#riderselection2ndpart{
    color: rgb(253,76,15);
    font-weight: bold;
    cursor: pointer;
}


#addonsselection>h4{
    padding: 30px 0px 0px 10px;
}
#addonsselectionparts{
    width: 98%;
    height: 40px;
    background-color: rgb(225,255,241);
    margin: 5px 0px 0px 5px;
    border: 2px dotted rgb(55,174,118);
    display: flex;
    align-items: center;
  
}
#addonsselection1stpart{
    margin: 0px 180px 0px 8px;
}
#addonsselection2ndpart{
    color: rgb(253,76,15);
    font-weight: bold;
    cursor: pointer;
}


#warningmsg{
    width: 100%;
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
}
#warningmsg>img{
    width: 25px;
    height: 25px;
    margin: 0px 10px 0px 0px;
}
#warningmsg>h5{
    width: 350px;
    /* border: 2px solid black; */
}

#totalpremselection{
    margin: 30px 0px 0px 0px;
}
#totalpremselectionparts{
    width: 100%;
    height: 40px;
    background-color: rgb(219,233,255);
    margin: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
  
}
#totalpremselection1stpart{
    margin: 0px 250px 0px 8px;
    color: rgb(35,97,143);
    font-weight: bold;
}
#totalpremselection2ndpart{
    color: rgb(35,97,143);
    font-weight: bold;
    cursor: pointer;
}



#benefitselectionparts{
    width: 98%;
    height: 40px;
    background-color: rgb(225,255,241);
    margin: 50px 0px 0px 5px;
    border: 2px dotted rgb(55,174,118);
    display: flex;
    align-items: center;
  
}
#benefitselection1stpart{
    margin: 0px 180px 0px 8px;
    font-size: 14px;
    font-weight: bold;
}
#benefitselection2ndpart{
    color: rgb(253,76,15);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#proposalbtn>button{
    width: 98%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(250,166,26);
    font-size: 16px;
    font-weight: bold;
    margin: 25px 0px 0px 5px;
    cursor: pointer;
}

#submit>h5{
    margin: 30px 0px 0px 30px;
    font-size: 15px;
}
#submit>button{
    margin: 10px 0px 0px 100px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: greenyellow;
    border-radius: 10px;
    cursor: pointer;
}
